$content-desktop         = 55%
$content-desktop-large   = 55%
$content-desktop-largest = 55%

// Font size
$font-size-base           = 14px
$font-size-small          = $font-size-base
$font-size-smaller        = $font-size-base
$font-size-large          = $font-size-base
$font-size-larger         = $font-size-base